* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 2rem;
    line-height: 1.6;
    background-color: black;
    color: beige;
}    

footer {
    background-color: #1C0F0F;
    color: antiquewhite;
    text-align: center;
    width: 100%;
    padding: 10px;

}

header p {
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    padding: 1rem;
    color: black;
    display: flex;
}                         

nav ul li a:hover {
    background-color: navajowhite;
    color: black;
    font-weight:bold;
}

body {
    background-color: #EDE4E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex:1;
}

img {
    display: block;
    margin: 20px 0;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

nav ul li i {
    width: 20px;      
    text-align: center; 
    margin-right: 10px;
}

@media (max-width: 768px) {
    
    nav ul {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
    }

    .cards-container {
        flex-direction: column;
        padding: 10px;
    }

    .card {
        width: 100%; 
        margin-bottom: 20px;
    }

    
    h1 {
        font-size: 1.8rem;
    }
}